.banner {
  background-image: url(../../images/bike.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.bloc {
  color: #3f3e44;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
}

.btn {
  background-color: #5c8a89;
  padding: 0.5em;
  color: white;
  border-radius: 3px;
  padding: 12px 20px;
}

.btn:hover {
  background-color: white;
  color: #5c8a89;
  border: solid 2px;
}
